html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    box-sizing: border-box !important;
    margin: 0 auto !important;
}

#sobre-a-empresa, #linguagens,
#projetos,
#container-photos,
#fale-conosco,
.container-persona p {
    background: #000000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #459eb9;
}

.navbar-toggler,
.navbar-toggler-icon {
    filter: invert(4%) sepia(191%) saturate(1227%) hue-rotate(167deg) brightness(98%) contrast(95%);
    border-color: #02dffa;
}

.navbar, footer {
    background: #000000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #02dffa;
}

#cabecalho h1 {
    font-weight: bold;
    font-style: italic;
    color: #02dffa;
    font-size: 25px;
}

/* Estilo padrão para os links */
#cabecalho .nav-link {
    color: #02dffa;
    background: #000000;
    font-style: italic;
    border-radius: 5px;
    padding-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para o link ativo */
#cabecalho .nav-link.active {
    background: #02dffa; /* Fundo azul neon */
    color: #000000; /* Texto preto */
    font-weight: bold;
    border-color: #02dffa;
}

/* Estilo para hover */
#cabecalho .nav-link:hover {
    background: #02dffa !important; /* Fundo azul neon ao passar o mouse */
    color: #000000 !important; /* Texto preto */
    border-color: #02dffa !important; /* Borda azul neon */
}

.section-title {
    font-family: Pacifico, cursive;
}

.container {
    margin: 0;
}

/* Garantir que a imagem ocupe 100% da largura e mantenha a proporção */
.container-image img {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

/* Botão entre em contato e enviar */
.container-persona .row button,
#fale-conosco button {
    background: #000000; /* cor de fundo dos botões */
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #459eb9;
    border-color: #02dffa;
    font-weight: bold;
}

.container-persona .row button:hover,
#fale-conosco button:hover {
    color: #000000;
    border-color: #02dffa;
    background: #02dffa;
}

.social-links li {
    list-style: none;
    display: inline;
    margin: 0 10px !important;
}

.social-links a {
    color:#02dffa;
    text-decoration: none;
}

#container-photos h2,
footer {
    padding: 5px;
}

#linguagens .carousel-inner {
    overflow: hidden; /* Esconde imagens que saem da tela */
    width: 100%;      /* Define a largura do container */
}

#linguagens .carousel-item-content {
    display: flex;            /* Exibe as imagens em linha */
    gap: 10px;                /* Espaçamento de 10px entre as imagens */
    animation: carrossel 20s linear infinite; /* Animação contínua de 20s */
}

#linguagens .carousel-item-content img {
    height: auto;   /* Altura fixa das imagens */
}

/* Animação do carrossel */
@keyframes carrossel {
    0% {
        transform: translateX(0); /* Começa na posição inicial */
    }
    100% {
        transform: translateX(-100%); /* Move todas as imagens para a esquerda */
    }
}

/* Configuração do card projetos de clientes */
#projetos {
    padding: 20px 0 20px 10px;
}

#projetos .col-md-10 .card {
    height: 300px;
}

#projetos .col-md-10 .card img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

#projetos .col-md-10 .card .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

#projetos .col-md-10 .card .card-img-overlay h4,
#projetos .col-md-10 .card .card-img-overlay h6,
#projetos .col-md-10 .card .card-img-overlay p {
    color: #459eb9;
    font-weight: bold;
    overflow: hidden;
}

#projetos .col-md-10 .card p {
    margin-bottom: 20px;
}

#projetos .col-md-10 .card .btn {
    align-self: flex-start;
    margin-top: auto;
}

#projetos .row {
    display: flex;
    align-items: flex-start;
}

#projetos aside {
    flex: 1;
}

#projetos .col-md-10 {
    flex: 3;
}

.card {
    border-color: #02dffa;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Botões dos cards */
.btn-primary {
    color: #459eb9 !important;
    background: #000000;
    border-color: #02dffa;
    font-size: 30px;
}

.btn-primary:hover {
    background: #02dffa;
    color: #000000 !important;
    border-color: #000000 !important;
    transform: scale(1.02, 1.01);
}

.btn-primary:active {
    background: #000000 !important;
    color: #02dffa !important;
    border-color: #02dffa !important;
}

/* Configuração dos cards projetos de clientes */
#container-photos .card-body {
    max-width: 100%;
    overflow: hidden;
    background: #000000;
    color: #459eb9;
    border-color: #02dffa;
}

/* Texto, cabeçalho e rodapé dos cards dos projetos de clientes */
.card-header,
.card-footer {
    color: #459eb9;
    background: #000000;
    border-color: #02dffa;
}

/* Estilo para os botões nav dentro da classe projetos realizados */

.nav-projetos button.nav-link {
    color: #02dffa; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona borda arredondada */
    margin: 5px;
    padding: 10px; /* Ajusta o padding para o botão */
    transition: background-color 0.3s ease; /* Adiciona um efeito de transição */
}

.nav-projetos button.nav-link.active {
    color: #000000; /* Cor do texto no botão ativo */
    background: #02dffa;
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

.nav-projetos button.nav-link:hover {
    background: #02dffa;
    color: #000000; /* Cor do texto ao passar o mouse */
}

#fale-conosco h2 {
    padding: 10px 0 10px 0;
}

#fale-conosco label.form-label,
#fale-conosco h3.section-title,
#fale-conosco p, h2 {
    color: #459eb9;
}

#fale-conosco label.form-label,
#fale-conosco h3.section-title,
#fale-conosco p, h2 {
    font-style: italic;
}

#fale-conosco .col-md-5 {
    padding: 20px !important;
}

/* Botão "Vamos conversar" de acesso ao WhatsApp */
#fale-conosco .btn-whatsapp {
    font-style: italic;
    background: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #02dffa;
    border-color: #02dffa;
    background: #000000;
}

#fale-conosco .btn-whatsapp:hover {
    color: #000000;
    background: #02dffa;
    border-color: #02dffa;
}

#fale-conosco .btn-whatsapp:active {
    background: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #02dffa;
    border-color: #02dffa;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px 0;
    border: none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 4px;
}

form button {
    display: block;
    width: 100px;
    margin-bottom: 8px;
    padding: 8px;
    font-style: italic;
    cursor: pointer;
}

.container-footer p {
    font-style: italic;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

/* botão do WhatsApp - personalização do tamanho do modal */

#whatsappModal .modal-dialog {
    max-width: 200px; /* Define a largura máxima */
    height: auto;
    margin: 1rem auto; /* Centraliza o modal verticalmente */
}

#whatsappModal .modal-body {
    padding: 0 10px 0 10px;
}

#whatsappModal .modal-title,
#whatsappModal .modal-body p,
#whatsappModal .modal-body e-mail {
    font-size: 10px;
}

#whatsappModal .btn-close {
    font-size: 10px !important;
}

.modal-footer .btn-success {
    color: #0f617a !important; /* Cor preta para o "x" */
    font-size: 10px !important; /* Tamanho do "x" */
    opacity: 1 !important; /* Garante que o "x" fique visível */
}

#promoToast {
    max-width: 100px !important; /* Largura máxima do toast */
    width: 80% !important; /* Garante que o toast ocupe 80% da largura disponível */
    min-width: 200px; /* Largura mínima para o toast */
    font-size: 10px; /* Define o tamanho da fonte do conteúdo */
}

.btn-success {
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 10px;
}

#whatsappModal .modal-dialog {
    max-width: 800px; /* Define a largura máxima */
    margin: 2rem auto; /* Centraliza o modal verticalmente */
}

/* Personalização do tamanho da fonte no modal */
#whatsappModal .modal-title {
    font-size: 40px; /* Tamanho maior para o título */
    font-weight: bold; /* Título em negrito */
}

#whatsappModal .modal-body p,
#whatsappModal .modal-body e-mail {
    font-size: 30px; /* Define o tamanho da fonte para o corpo do modal */
    line-height: 1.5; /* Melhora o espaçamento entre linhas */
    color: #0f617a;
}

/* Personalização do botão de fechamento */
#whatsappModal .btn-close {
    background-color: transparent !important; /* Fundo transparente */
    color: #0f617a !important; /* Cor preta para o "x" */
    font-size: 50px !important; /* Tamanho do "x" */
    opacity: 1 !important; /* Garante que o "x" fique visível */
    cursor: pointer;
    padding: 0 10px 20px 10px; /* Espaçamento do "x" */
}

/* Alterando cor do "x" ao passar o mouse */
#whatsappModal .btn-close:hover {
    color: #0f617a; /* Cor do "x" ao passar o mouse */
}

/* Garantir que o "x" apareça corretamente */
#whatsappModal .btn-close::before {
    content: "×"; /* Usando o "x" padrão */
}

.modal-footer .btn-success {
    color: #000000; /* Cor do texto */
    background-color: #02dffa; /* Cor de fundo */
    border-color: #000000; /* Cor da borda */
}

.modal-footer .btn-success:hover {
    color: #02dffa; /* Cor do texto */
    background-color: #000000; /* Cor de fundo */
    border-color: #02dffa; /* Cor da borda */
}

.modal-footer .btn-success:active {
    color: #02dffa; /* Cor do texto */
    background-color: #000000; /* Cor de fundo */
    border-color: #02dffa; /* Cor da borda */
}

/* botão do opinião */

#promoToast {
    max-width: 500px; /* Largura máxima do toast */
    width: 100%; /* Garante que o toast ocupe toda a largura disponível até o máximo */
    min-width: 300px; /* Largura mínima para o toast */
    font-size: 30px; /* Define o tamanho da fonte do conteúdo */
}

.btn-success {
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: #02dffa;
    border-color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
}

.btn-success:hover {
    color: #02dffa;
    background-color: #000000;
    border-color: #02dffa;
}

.btn-success:active {
    color: #000000 !important; /* Cor do texto */
    background-color: #02dffa !important; /* Cor de fundo */
    border-color: #000000 !important; /* Cor da borda */
}

footer p {
    margin: 0 auto !important;
    padding: 20px;
}

@media screen and (max-width: 640px) {

    #sobre-a-empresa .container-image {
        width: 100%;  /* O carrossel ocupa toda a largura disponível do seu container */
        margin: 0 auto;  /* Centraliza o carrossel dentro da seção */
        height: 100px !important; /* Defina uma altura fixa para o carrossel (ajuste conforme necessário) */
        overflow: hidden; /* Garante que as imagens não ultrapassem a altura do carrossel */
    }

    #cabecalho h1,
    .nav-link {
        font-size: 15px;
    }

    .nav-link {
        font-size: 12px;
        padding: 5px;
    }

    .row {
        margin: 0 10px 0 10px !important;
    }

    .container-persona {
        margin: 0 auto !important;
    }

    #linguagens .carousel-inner img {
        width: 30%;    /* A imagem ocupará 30% da largura do container */
        height: 50px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
    }

    #projetos .col-3 {
        width: 100%;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #container-photos .card-body {
        padding: 20px auto;
        height: 500px;
    }

    #carouselExample .card {
        width: 80%;  /* O card ocupa 90% da largura da tela */
        max-width: 300px;  /* Mas não será maior que 350px */
        margin: 0 auto;  /* Centraliza o card */
    }

    #carouselExample .card-body h4 {
        font-size: 14px;
    }

    #carouselExample .card-body {
        padding: 15px;
        font-size: 10px;
    }

    #carouselExample .card-body .btn-primary{
        font-size: 12px;
        margin: 0 10px 5px 10px;
    }

    #carouselExample .card-footer {
        padding: 10px;
        font-size: 14px;
    }

    #carouselExample .carousel-item img {
        width: 50%;          /* A imagem ocupa 100% da largura do contêiner */
        height: auto;        /* Altura fixa para o contêiner da imagem */
        object-fit: contain;  /* A imagem vai se ajustar ao tamanho do contêiner, mantendo a proporção */
        object-position: center; /* Alinha a imagem no centro (caso a imagem seja menor) */
        display: block;       /* Remove espaços em branco abaixo da imagem */
        margin: 0 auto;       /* Centraliza a imagem horizontalmente (se necessário) */
    }

    #whatsappModal .modal-dialog {
        max-width: 200px; /* Define a largura máxima */
        margin: 1rem auto; /* Centraliza o modal verticalmente */
    }

    #whatsappModal .modal-body {
        padding: 0 10px 0 10px;
    }

    #whatsappModal .modal-title,
    #whatsappModal .modal-body p,
    #whatsappModal .modal-body e-mail {
        font-size: 12px;
    }

    #whatsappModal .btn-close,
    .modal-footer .btn-success {
        color: #0f617a !important; /* Cor preta para o "x" */
        font-size: 14px !important; /* Tamanho do "x" */
        opacity: 1 !important; /* Garante que o "x" fique visível */
    }

    #promoToast {
        max-width: 100px !important; /* Largura máxima do toast */
        width: 80% !important; /* Garante que o toast ocupe 80% da largura disponível */
        min-width: 300px; /* Largura mínima para o toast */
        font-size: 12px; /* Define o tamanho da fonte do conteúdo */
    }
    
    .btn-success {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {

    #container-photos .card-body {
        max-width: 100%;
        height: auto;
        padding: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #linguagens .row.mt-3 {
        display: flex;
        flex-wrap: wrap;
    }
    
    #linguagens .col-3 {
        flex: 0 0 80%;
        max-width: 80%;
        margin-bottom: 20px;
    }
    
    #linguagens .card {
        margin: 0 10px;
    }
    
    #linguagens p {
        font-size: 14px;
    }
    
    #projetos .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    #projetos aside button.nav-link {
        font-size: 14px;
    }

    #projetos .row {
        flex-direction: column;  /* Coloca o conteúdo em uma coluna única */
    }
    
    #projetos aside {
        width: 100%;  /* O aside ocupa toda a largura da tela */
        margin-bottom: 20px;  /* Espaço abaixo do aside */
    }
    
    #projetos .col-md-10 {
        width: 100%;  /* Garante que a área de conteúdo ocupe 100% da largura */
    }
    
    .tab-content .row {
        display: flex;
        flex-direction: column;  /* Alinha os cards em uma coluna */
    }
    
    .tab-content .col-4 {
        width: 100%;  /* Garante que os cards ocupem 100% da largura */
        margin-bottom: 10px;  /* Espaçamento entre os cards */
        padding: 0;
    }
    
    .card {
        width: 100%;  /* Garante que os cards ocuparam toda a largura do seu container */
    }

    .btn-primary {
        font-size: 12px;
    }
    
    #container-photos .carousel-item .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #container-photos .carousel-item .col-lg-3 {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    #sobre-a-empresa .container-image {
        width: 100%;  /* O carrossel ocupa toda a largura disponível do seu container */
        max-width: 770px;
        margin: 0 auto;  /* Centraliza o carrossel dentro da seção */
        height: 200px; /* Defina uma altura fixa para o carrossel (ajuste conforme necessário) */
        overflow: hidden; /* Garante que as imagens não ultrapassem a altura do carrossel */
    }

    .col-md-3 {
        width: 50%;    /* A imagem ocupará 50% da largura do container */
        height: auto;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        display: block;   /* Para garantir que a imagem seja exibida como um bloco */
    }

    .container {
        max-width: 750px;
    }

#container-photos .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 1rem;
    }

#container-photos .card-body .btn-primary {
    margin-bottom: 10px;
    }

    #linguagens .carousel-inner img {
        width: 50%;    /* A imagem ocupará 5% da largura no container */
        height: 50px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    .row {
        margin: 0 auto !important;
    }

    .col-md-3,
    .col-4 {
        padding: 5px;
    }

    .nav-projetos button.nav-link {
        padding: 5px 10px; /* Ajusta o padding para o botão */
        transition: background-color 0.3s ease; /* Adiciona um efeito de transição */
    }
    
    .nav-projetos button.nav-link.active {
        color: #000000; /* Cor do texto no botão ativo */
        background: #02dffa;
        transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
    }
    
    .nav-projetos button.nav-link:hover {
        background: #02dffa;
        color: #000000; /* Cor do texto ao passar o mouse */
    }

    #projetos .container h4,
    #projetos .container h6,
    #projetos .container p {
        font-size: 14px;
    }

    .btn-primary {
        padding: 5px;
        font-size: 12px;
    }

    #carouselExample .card {
        width: 100%;  /* O card ocupa 100% da largura da tela */
        max-width: 300px;  /* Mas não será maior que 350px */
        height: auto;
        margin: 0 10px;  /* Centraliza o card */
    }

    #carouselExample .card-body {
        height: 150px;
        padding: 10px 15px 0 15px;
        font-size: 16px;
    }

    #carouselExample .card-body .btn-primary {
        margin: 0 15px 10px 15px;
        font-size: 16px;
    }

    #carouselExample .card-footer {
        padding: 10px;
    }

    #carouselExample .carousel-item img {
        width: 50%;          /* A imagem ocupa 50% da largura do contêiner */
        height: auto;        /* Altura fixa para o contêiner da imagem */
        object-fit: contain;  /* A imagem vai se ajustar ao tamanho do contêiner, mantendo a proporção */
        object-position: center; /* Alinha a imagem no centro (caso a imagem seja menor) */
        display: block;       /* Remove espaços em branco abaixo da imagem */
        margin: 0 auto;       /* Centraliza a imagem horizontalmente (se necessário) */
    }

    .col-md-6,
    .col-md-5 {
        max-width: 350px;
        margin-bottom: 0 !important;
    }

    #whatsappModal .modal-dialog {
        max-width: 200px; /* Define a largura máxima */
        margin: 1rem auto; /* Centraliza o modal verticalmente */
    }

    #whatsappModal .modal-body {
        padding: 0 10px 0 10px;
    }

    #whatsappModal .modal-title,
    #whatsappModal .modal-body p,
    #whatsappModal .modal-body e-mail {
        font-size: 12px;
    }

    #whatsappModal .btn-close,
    .modal-footer .btn-success {
        color: #0f617a !important; /* Cor preta para o "x" */
        font-size: 14px !important; /* Tamanho do "x" */
        opacity: 1 !important; /* Garante que o "x" fique visível */
    }

    #promoToast {
        max-width: 100px !important; /* Largura máxima do toast */
        width: 80% !important; /* Garante que o toast ocupe 80% da largura disponível */
        min-width: 300px; /* Largura mínima para o toast */
        font-size: 12px; /* Define o tamanho da fonte do conteúdo */
    }
    
    .btn-success {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    #sobre-a-empresa .container-image {
        width: 100%;  /* O carrossel ocupa toda a largura disponível do seu container */
        max-width: 1024px; /* Limita a largura máxima do carrossel */
        margin: 0 auto;  /* Centraliza o carrossel dentro da seção */
        height: 170px; /* Defina uma altura fixa para o carrossel (ajuste conforme necessário) */
        overflow: hidden; /* Garante que as imagens não ultrapassem a altura do carrossel */
    }

    .nav-link {
        padding: 5px 10px 0 10px;
    }

    #linguagens .carousel-inner img {
        width: 10%;    /* A imagem ocupará 80% da largura do container */
        height: 50px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    .col-md-7 {
        width: 75%;
        justify-content: space-between;
        font-size: 14px;
    }

    .col-md-10 {
        padding: 0;
    }

    .tab-content .row {
        margin: 0;
        margin-right: 10px;
    }

    #projetos .col-md-3 {
        padding: 0 10px 0 0;
    }

    #projetos .col-4 {
        flex: 0 0 32%;
        max-width: 50%;
        margin: 3px;
        padding: 0;
        font-size: 12px;
    }

    #projetos aside button.nav-link {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 14px;
    }

    #container-photos .carousel-item .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #container-photos .carousel-item .col-lg-3 {
        flex: 1 1 40%;
        max-width: 50%;
    }

    #carouselExample .card {
        width: 80%;  /* O card ocupa 90% da largura da tela */
        max-width: 350px;  /* Mas não será maior que 350px */
        height: auto;
        margin: 0 auto;  /* Centraliza o card */
    }

    #carouselExample .card-body {
        height: 150px;
        padding: 10px 15px 0 15px;
    }

    #carouselExample .card-body .btn-primary {
        margin: 0 15px 10px 15px;
    }

    #carouselExample .card-footer {
        padding: 10px;
    }

    #carouselExample .carousel-item img {
        width: 50%;          /* A imagem ocupa 100% da largura do contêiner */
        height: auto;        /* Altura fixa para o contêiner da imagem */
        object-fit: contain;  /* A imagem vai se ajustar ao tamanho do contêiner, mantendo a proporção */
        object-position: center; /* Alinha a imagem no centro (caso a imagem seja menor) */
        display: block;       /* Remove espaços em branco abaixo da imagem */
        margin: 0 auto;       /* Centraliza a imagem horizontalmente (se necessário) */
    }

    .row {
        margin: 0 10px 0 10px !important;
    }

    .container-persona {
        margin: 0 auto !important;
    }

    .col-md-3 {
        margin-top: 20px;
        height: auto;
    }

    .col-md-7 {
        width: 75%;
        justify-content: space-between;
        font-size: 14px;
    }

    .col-md-12 {
        font-size: 14px;
        padding-top: 20px;
    }

    #fale-conosco .col-md-5 {
        padding: 0 auto !important;
    }

    #whatsappModal .modal-dialog {
        max-width: 200px; /* Define a largura máxima */
        height: auto;
        margin: 1rem auto; /* Centraliza o modal verticalmente */
    }

    #whatsappModal .modal-body {
        padding: 0 10px 0 10px;
    }

    #whatsappModal .modal-title,
    #whatsappModal .modal-body p,
    #whatsappModal .modal-body e-mail {
        font-size: 10px;
    }

    #whatsappModal .btn-close {
        font-size: 10px !important;
    }

    .modal-footer .btn-success {
        color: #0f617a !important; /* Cor preta para o "x" */
        font-size: 10px !important; /* Tamanho do "x" */
        opacity: 1 !important; /* Garante que o "x" fique visível */
    }

    #promoToast {
        max-width: 100px !important; /* Largura máxima do toast */
        width: 80% !important; /* Garante que o toast ocupe 80% da largura disponível */
        min-width: 200px; /* Largura mínima para o toast */
        font-size: 10px; /* Define o tamanho da fonte do conteúdo */
    }
    
    .btn-success {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    #cabecalho h1 {
        font-size: 24px;
    }

    .nav-pills .nav-link {
        font-size: 14px;
        padding: 5px 10px 0 10px;
    }

    #sobre-a-empresa .container-image {
        width: 100%;  /* O carrossel ocupa toda a largura disponível do seu container */
        max-width: 1440px;
        margin: 0 auto;  /* Centraliza o carrossel dentro da seção */
        height: 250px; /* Defina uma altura fixa para o carrossel (ajuste conforme necessário) */
        overflow: hidden; /* Garante que as imagens não ultrapassem a altura do carrossel */
    }

    #container-photos {
        width: 100%; /* O fundo ocupa toda a largura da tela */
        padding: 60px 0; /* Adiciona espaçamento vertical (opcional) */
    }
    
    #carouselExample {
        width: 100%; /* O carrossel ocupa 100% da largura do container */
        max-width: 1200px; /* Limita a largura máxima do carrossel (ajuste conforme necessário) */
        margin: 0 auto; /* Centraliza o carrossel dentro da seção */
    }
    
    #carousel .carousel-inner {
        display: block;
        width: 100%;
    }
    
    #carousel .carousel-item {
        width: 100%; /* Faz com que os itens do carrossel ocupem toda a largura do carrossel */
    }

    .carousel-item img {
        object-fit: cover; /* Garante que a imagem cubra a área sem distorção */
        max-width: 100%; /* Limita a largura da imagem a 100% do container */
        height:fit-content; /* Ajusta a altura automaticamente */
    }
    
    #linguagens .carousel-inner img {
        width: 15%;    /* A imagem ocupará 15% da largura do container */
        height: 50px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    #linguagens p {
        font-size: 14px;
    }

    .container-persona {
        width: 90%;
        margin: 0 50px !important;
        justify-content: space-between;
    }

    .container-persona .col-md-3 img {
        max-height:max-content;   /* Aumenta a altura máxima para telas grandes */
        margin-top: 20px;
    }

    .col-md-3 {
        width: 25%;    /* A imagem ocupará 20% da largura do container */
        height: auto;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        display: block;   /* Para garantir que a imagem seja exibida como um bloco */
    }

    .col-md-7 {
        width: 75%;
        font-size: 22px;
    }

    .col-md-12 {
        font-size: 22px;
        padding-top: 20px;
    }

    .botao-menu {
        display: none
    }

    .btn-primary {
        font-size: 16px;
    }

    #carouselExample .card {
        width: 100%;  /* O card ocupa 90% da largura da tela */
        max-width: 350px;  /* Mas não será maior que 350px */
        height: auto;
        margin: 0 auto;  /* Centraliza o card */
    }

    #carouselExample .card-body {
        height: 150px;
        padding: 10px 15px 0 15px;
    }

    #carouselExample .card-body .btn-primary {
        margin: 0 15px 10px 15px;
    }

    #carouselExample .card-footer {
        padding: 10px;
    }

    #carouselExample .carousel-item img {
        width: 70%;          /* A imagem ocupa 100% da largura do contêiner */
        height: auto;        /* Altura fixa para o contêiner da imagem */
        object-fit: contain;  /* A imagem vai se ajustar ao tamanho do contêiner, mantendo a proporção */
        object-position: center; /* Alinha a imagem no centro (caso a imagem seja menor) */
        display: block;       /* Remove espaços em branco abaixo da imagem */
        margin: 0 auto;       /* Centraliza a imagem horizontalmente (se necessário) */
    }

    #whatsappModal .modal-dialog {
        max-width: 250px; /* Define a largura máxima */
        height: auto;
        margin: 1rem auto; /* Centraliza o modal verticalmente */
    }

    #whatsappModal .modal-body {
        padding: 0 10px 0 10px;
    }

    #whatsappModal .modal-title,
    #whatsappModal .modal-body p,
    #whatsappModal .modal-body e-mail {
        font-size: 14px;
    }

    #whatsappModal .btn-close {
        font-size: 20px !important;
    }

    .modal-footer .btn-success {
        color: #0f617a !important; /* Cor preta para o "x" */
        font-size: 14px !important; /* Tamanho do "x" */
        opacity: 1 !important; /* Garante que o "x" fique visível */
    }

    #promoToast {
        max-width: 150px !important; /* Largura máxima do toast */
        width: 100% !important; /* Garante que o toast ocupe 80% da largura disponível */
        min-width: 250px; /* Largura mínima para o toast */
        font-size: 14px; /* Define o tamanho da fonte do conteúdo */
    }
    
    .btn-success {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 14px;
    }
}


@media screen and (min-width: 1440px) and (max-width: 2499px) {

    body {
        box-sizing: border-box;
    }

    .nav-pills .nav-link {
        padding: 5px 10px 0 10px;
    }

    #sobre-a-empresa .container-image {
        width: 100%;  /* O carrossel ocupa toda a largura disponível do seu container */
        max-width: 2500px;
        margin: 0 auto;  /* Centraliza o carrossel dentro da seção */
        height: 300px; /* Defina uma altura fixa para o carrossel (ajuste conforme necessário) */
        overflow: hidden; /* Garante que as imagens não ultrapassem a altura do carrossel */
    }

    #linguagens .carousel-inner {
        max-width: 2500px;
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    #linguagens .carousel-inner img {
        width: 10%;    /* A imagem ocupará 10% da largura no container */
        height: 100px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    #linguagens .container-image img {
        width: 100%;    /* A imagem ocupará 60% da largura do container */
        height: 250px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        display: block;   /* Para garantir que a imagem seja exibida como um bloco */
    }

    .row h2 {
        padding-bottom: 50px;
        font-size: 36px;
    }

    .container-persona {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .col-md-3 {
        width: 20%;    /* A imagem ocupará 20% da largura do container */
        height: auto;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        display: block;   /* Para garantir que a imagem seja exibida como um bloco */
    }

    .container {
        max-width: 2400px;
    }

    .col-md-7 {
        width: 75%;
        justify-content: space-between;
        font-size: 22px;
    }

    .col-md-12 {
        padding-top: 24px;
        font-size: 22px;
    }

    .btn-primary {
        font-size: 16px;
    }

    #carouselExample .card {
        width: 100%;  /* O card ocupa 90% da largura da tela */
        max-width: 350px;  /* Mas não será maior que 350px */
        height: auto;
        margin: 0 auto;  /* Centraliza o card */
    }

    #carouselExample .card-body {
        height: 150px;
        padding: 10px 15px 0 15px;
    }

    #carouselExample .card-body .btn-primary {
        margin: 0 15px 10px 15px;
    }

    #carouselExample .card-footer {
        padding: 10px;
    }

    #carouselExample .carousel-item img {
        width: 50%;          /* A imagem ocupa 100% da largura do contêiner */
        height: auto;        /* Altura fixa para o contêiner da imagem */
        object-fit: contain;  /* A imagem vai se ajustar ao tamanho do contêiner, mantendo a proporção */
        object-position: center; /* Alinha a imagem no centro (caso a imagem seja menor) */
        display: block;       /* Remove espaços em branco abaixo da imagem */
        margin: 0 auto;       /* Centraliza a imagem horizontalmente (se necessário) */
    }

    #fale-conosco .col-md-5 {
        margin-left: 40px !important;
    }

    #whatsappModal .modal-dialog {
        max-width: 300px; /* Define a largura máxima */
        height: auto;
        margin: 1rem auto; /* Centraliza o modal verticalmente */
    }

    #whatsappModal .modal-body {
        padding: 0 10px 0 10px;
    }

    #whatsappModal .modal-title,
    #whatsappModal .modal-body p,
    #whatsappModal .modal-body e-mail {
        font-size: 14px;
    }

    #whatsappModal .btn-close {
        font-size: 20px !important;
    }

    .modal-footer .btn-success {
        color: #0f617a !important; /* Cor preta para o "x" */
        font-size: 14px !important; /* Tamanho do "x" */
        opacity: 1 !important; /* Garante que o "x" fique visível */
    }

    #promoToast {
        max-width: 200px !important; /* Largura máxima do toast */
        width: 100% !important; /* Garante que o toast ocupe 80% da largura disponível */
        min-width: 300px; /* Largura mínima para o toast */
        font-size: 14px; /* Define o tamanho da fonte do conteúdo */
    }
    
    .btn-success {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 14px;
    }
}

@media screen and (min-width: 2500px) {

    body {
        box-sizing: border-box;
    }

    .navbar a,
    .container-persona .row button,
    #fale-conosco button {
        padding-right: 100px;
        font-size: 30px;
    }

    #cabecalho h1,
    .row h2,
    #projetos .container h2,
    #fale-conosco .container h2,
    #container-photos h2 {
        font-size: 50px;
    }

    #projetos .container h4,
    #projetos .container h6,
    #fale-conosco h3,
    #fale-conosco .mt-3 h3 {
        font-size: 40px;
    }

    footer p,
    .card,
    .card-body,
    .card-header,
    .card-footer,
    #fale-conosco .mt-3 a,
    #fale-conosco .mt-3 p {
        font-size: 30px;
    }

    .navbar>.container {
        width: 100%;    /* A imagem ocupará 60% da largura do container */
        max-width: 2500px;
        height: auto;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        display: flex;   /* Para garantir que a imagem seja exibida como um bloco */
        justify-content: space-between;
    }

    .nav-pills .nav-link {
        margin: 10px;
        padding: 5px 10px 0 10px;
    }

    #sobre-a-empresa .container-image {
        width: 100%;  /* O carrossel ocupa toda a largura disponível do seu container */
        max-width: 2700px;
        margin: 0 auto;  /* Centraliza o carrossel dentro da seção */
        height: 500px; /* Defina uma altura fixa para o carrossel (ajuste conforme necessário) */
        overflow: hidden; /* Garante que as imagens não ultrapassem a altura do carrossel */
    }

    .row h2 {
        padding-bottom: 50px;
    }

    .container-persona {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .col-md-3 {
        width: 15%;    /* A imagem ocupará 20% da largura do container */
        height: auto;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        display: block;   /* Para garantir que a imagem seja exibida como um bloco */
    }

    .col-md-7 h2 {
        font-size: 50px;
    }

    .col-md-7 {
        width: 75%;
        justify-content: space-between;
        font-size: 30px;
    }

    .col-md-12 {
        padding-top: 24px;
        font-size: 30px;
    }

    #linguagens .carousel-inner {
        max-width: 2500px;
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    #linguagens .carousel-inner img {
        width: 5%;    /* A imagem ocupará 5% da largura no container */
        height: 100px;  /* Mantém a proporção da imagem */
        margin: 0 auto;  /* Centraliza a imagem dentro do container */
        padding: 0 10px;
    }

    #projetos .container {
        width: 100%; /* O carrossel ocupa 100% da largura do container */
        max-width: 2500px; /* Limita a largura máxima do carrossel (ajuste conforme necessário) */
        margin: 0 auto; /* Centraliza o carrossel dentro da seção */
        height: auto;
        font-size: 30px;
    }

    #projetos .col-md-10 .card {
        height: 500px;
    }

    #carouselExample .card {
        width: 100%;  /* O card ocupa 100% da largura da tela */
        max-width: 600px;  /* Mas não será maior que 350px */
        height: auto;
        margin: 0 10px;  /* Centraliza o card */
    }

    #carouselExample .card-body {
        height: 250px;
        padding: 10px 15px 0 15px;
        font-size: 30px;
    }

    #carouselExample .card-body .btn-primary {
        margin: 0 15px 10px 15px;
        font-size: 26px;
    }

    #carouselExample .card-footer {
        padding: 10px;
    }

    #carouselExample .carousel-item img {
        width: 50%;          /* A imagem ocupa 100% da largura do contêiner */
        height: auto;        /* Altura fixa para o contêiner da imagem */
        object-fit: contain;  /* A imagem vai se ajustar ao tamanho do contêiner, mantendo a proporção */
        object-position: center; /* Alinha a imagem no centro (caso a imagem seja menor) */
        display: block;       /* Remove espaços em branco abaixo da imagem */
        margin: 0 auto;       /* Centraliza a imagem horizontalmente (se necessário) */
    }

    #fale-conosco .col-md-5 {
        margin-left: 40px !important;
    }

    #fale-conosco .container {
        width: 100%; /* O carrossel ocupa 100% da largura do container */
        max-width: 2500px; /* Limita a largura máxima do carrossel (ajuste conforme necessário) */
        margin: 0 auto; /* Centraliza o carrossel dentro da seção */
        height: auto;
        font-size: 30px;
    }

    .social-links {
        margin: 50px 0 50px 0;
    }

    .social-links a {
        font-size: 50px;
    }

    .form-label, .form-control, .btn {
        font-size: 30px; /* Ajuste para os elementos do formulário */
    }

    #whatsappModal .modal-dialog {
        max-width: 500px; /* Define a largura máxima */
        height: auto;
        margin: 1rem auto; /* Centraliza o modal verticalmente */
    }

    #whatsappModal .modal-body {
        padding: 0 10px 0 10px;
    }

    #whatsappModal .modal-title,
    #whatsappModal .modal-body p,
    #whatsappModal .modal-body e-mail {
        font-size: 26px;
    }

    #whatsappModal .btn-close {
        font-size: 40px !important;
    }

    .modal-footer .btn-success {
        color: #0f617a !important; /* Cor preta para o "x" */
        font-size: 26px !important; /* Tamanho do "x" */
        opacity: 1 !important; /* Garante que o "x" fique visível */
    }

    #promoToast {
        max-width: 500px !important; /* Largura máxima do toast */
        width: 80% !important; /* Garante que o toast ocupe 80% da largura disponível */
        min-width: 400px; /* Largura mínima para o toast */
        font-size: 26px; /* Define o tamanho da fonte do conteúdo */
    }
    
    .btn-success {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 26px;
    }
}
